/* General Page Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(248,232,217);
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 40px;
    background:rgb(253,57,8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
}

.navbar a {
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: .3s ease;
}

.navbar a:hover,
.navbar .active {
    color: #f0c04a;
}

/* HERO SECTION */
.hero {
    height: 300px;
    background: url('https://images.unsplash.com/photo-1528605248644-14dd04022da1') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    color: white;
    font-size: 45px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.6);
}

.hero-content span {
    color: #f0c04a;
}

.hero-content p {
    margin-top: 10px;
    color: #f8f8f8;
    font-size: 20px;
}

/* ABOUT SECTION */
.about-section {
    padding: 60px 8%;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #2b2b2b;
}

.about-text h3 {
    margin-top: 20px;
    color: #c58940;
    font-size: 22px;
}

.about-text p {
    color: #4d4d4d;
    margin-top: 8px;
    line-height: 1.6;
}

.about-text ul {
    margin-top: 15px;
    list-style: none;
}

.about-text ul li {
    margin: 8px 0;
    font-size: 18px;
    color: #333;
}

.about-text ul li i {
    color: #c58940;
    margin-right: 10px;
}

/* FOOTER */
.footer {
    background: #2b2b2b;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.footer p {
    color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
    }
}
